@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Font Icons";
  src: url("./fonticons.woff") format("woff");
}

.icon-envelope:before {
  content: "\f0e0";
}

.icon-github:before {
  content: "\f09b";
}

.icon-linkedin:before {
  content: "\f08c";
}

.icon-phone:before {
  content: "\f095";
}

.icon-sun:before {
  content: "\e28f";
}

.icon-moon:before {
  content: "\f186";
}

.link {
  @apply underline text-blue-700 hover:text-blue-900 dark:hover:text-blue-300 dark:text-blue-400 cursor-pointer;
}
